:root {
  --white-color: #fff;
  --black-color: #000;
  --medium-gap: 30px;
  --side-gap: 250px;
  --light-black: lab(2.42579 -0.165291 -0.470081 / 0.8);
  --grey-color: rgba(128, 128, 128, 0.836);
  --small-font: 10px;
  --background-grey: lab(2.42579 -0.165291 -0.470081 / 0.03);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* common section */
.white-color {
  color: var(--white-color);
}
.small-font {
  font-size: var(--small-font);
}
.grey-color {
  color: var(--grey-color);
}
.nav-link {
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  padding: 3px;
  border: 1px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0);
}
.nav-link:hover {
  border: 1px solid var(--background-grey);
  border-radius: 20px;
  background-color: var(--background-grey);
}
.info-heading {
  font-size: 18px;
}
.info {
  color: lab(2.42579 -0.165291 -0.470081 / 0.8);
}
.primary-btn {
  padding: 7px 11px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 15px;
  border: none;
}
.primary-btn:hover {
  opacity: 0.8;
}
.green-heading {
  color: lab(51.3415 -41.5657 15.3527);
  font-size: 14px;
  font-weight: 500;
}
body {
  background-image: url("./Mintify-Assets/bg-main.png");
  background-repeat: no-repeat;
  background-size: contain;
}
/* header */
.header-heading {
  display: flex;
  padding: 20px var(--side-gap);
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  gap: 27px;
}
nav a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 500;
}
.header-heading .info {
  color: var(--white-color);
}
.button-container :first-child {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 500;
}
.button-container :last-child {
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: 500;
  margin-left: 4px;
}
/* hero */
.hero {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  justify-content: center;
  align-items: center;
}
.hero h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 55px;
}
.inp {
  display: flex;
  border: 0.5px solid rgba(195, 195, 195, 0.788);
  padding: 5px 12px;
  gap: 150px;
  align-items: center;
  border-radius: 50px;
  background-color: hwb(0 100% 0% / 0.329);
  color: rgba(255, 255, 255, 0.737);
}
.hero .primary-btn {
  background-color: var(--white-color);
}
/* document preview */
.documentation-preview {
  margin: 90px var(--side-gap);
  padding: 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.388);
  height: calc(100vh - 80px);
  display: flex;
  background-color: var(--white-color);
  border-radius: 20px;
}
.side-bar {
  width: 170px;
}
.side-link-box {
  padding: 5px;
  margin-top: 20px;
  list-style-type: none;
}

.side-link-box a {
  text-decoration: none;
  font-size: 13px;
  color: var(--grey-color);
}
.right-side a,
li {
  font-size: 10px;
  margin-bottom: 0;
}
.doc-main {
  padding: 100px;
}
.side-link-box li {
  margin-bottom: 3px;
  padding: 2px;
}
.doc-card-box {
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  grid-template-columns: repeat(2, 2fr);
  gap: 15px;
}
.doc-card {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: small;
}
.doc-img {
  height: 120px;
  background-color: rgb(202, 89, 202);
  border-radius: 10px;
  background-position: center;
}
.doc1 {
  background-image: url("./Mintify-Assets/doc-card1.png");
}
.doc2 {
  background-image: url("./Mintify-Assets/doc-card2.png");
}
.doc3 {
  background-image: url("./Mintify-Assets/doc-card3.png");
}
.doc4 {
  background-image: url("./Mintify-Assets/doc-card4.png");
}
.doc-content {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
/* logos */
.comp1 {
  background-image: url("./Mintify-Assets/comp1.png");
}
.comp2 {
  background-image: url("./Mintify-Assets/comp2.png");
}
.comp3 {
  background-image: url("./Mintify-Assets/comp3.png");
}
.comp4 {
  background-image: url("./Mintify-Assets/comp4.png");
}
.comp5 {
  background-image: url("./Mintify-Assets/comp5.png");
}
.comp6 {
  background-image: url("./Mintify-Assets/comp6.png");
}
.comp7 {
  background-image: url("./Mintify-Assets/comp7.png");
}
.comp8 {
  background-image: url("./Mintify-Assets/comp8.png");
}
.trusted-logo {
  padding: 0 calc(var(--side-gap) - 20px);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: var(--side-gap) 0;
}
.trusted-logo div {
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
/* feature */
.feature-highlight {
  padding: 0 calc(var(--side-gap) + 40px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}
.medium-heading {
  font-weight: 500;
}
.feature-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 25px;
  border: 1px solid rgba(128, 128, 128, 0.256);
  border-radius: 20px;
}
.fi1 {
  background-image: url("./Mintify-Assets/card1.png");
}
.fi2 {
  background-image: url("./Mintify-Assets/card2.png");
}
.feature-img {
  margin: 30px auto;
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* ui preview */
.ui-preview {
  margin: 0 calc(var(--side-gap) + 40px);
  height: 90vh;
  border: 1px solid rgba(128, 128, 128, 0.256);
  border-radius: 20px;
  padding: 25px;
}
.ui-content {
  padding: var(--medium-gap);
  text-align: center;
  width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ui-main-box {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.ui-mockup-box {
  display: flex;
  flex-direction: column;
}
.ui-mockup {
  margin: 5px;
  border: 1px solid var(--background-grey);
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15px;
  border-radius: 15px;
}
.ui-mockup div {
  width: 100%;
  height: 10px;
  background-color: var(--background-grey);
  border-radius: 5px;
}
/* enterprise */
.enterprise {
  padding: 70px calc(var(--side-gap) + 40px);
  background-color: var(--background-grey);
}
.enterprise-content {
  display: grid;
  gap: 20px;
}
.enterprise-content h1 {
  font-size: 42px;
  font-weight: 600;
}
.enter-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.big-btn {
  font-size: 16px;
  padding: 10px 24px;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 20px;
}
.enterprise-card-div {
  margin-top: 50px;
  display: flex;
}
.enter-card {
  display: grid;
  gap: 20px;
}
.enter-logo {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: contain;
}
.lg1 {
  background-image: url("./Mintify-Assets/ent1.png");
}
.lg2 {
  background-image: url("./Mintify-Assets/ent2.png");
}
/* card layout */
.card-layout {
  padding: 70px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 20px;
}
.card {
  display: grid;
  gap: 20px;
}
.card .medium-heading {
  color: var(--light-black);
}
.card-img {
  height: 300px;
  width: 400px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}
.cd1 {
  background-image: url("./Mintify-Assets/perp.png");
}
.cd2 {
  background-image: url("./Mintify-Assets/x.png");
}
.rs:hover {
  color: lab(51.3415 -41.5657 15.3527);
}
/* final heading */
.final-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center {
  display: grid;
  gap: 20px;
}
.center h1 {
  font-size: 40px;
  font-weight: 600;
}
.center .primary-btn {
  margin-top: 30px;
}
.white-btn {
  background-color: var(--white-color);
  color: var(--black-color);
  border: 0.01px solid grey;
}
/* footer */
footer {
  margin-top: 20px;
  background-color: var(--background-grey);
  padding: 50px calc(var(--side-gap));
}
.footer-box {
  padding: 40px;
  border: 1px solid var(--background-grey);
}
.info-box {
  display: flex;
  justify-content: space-between;
}
.info li,
p {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-bottom: 5px;
}
.info-box ul {
  list-style: none;
  display: grid;
  gap: 10px;
}
.credits {
  border: 1px solid var(--background-grey);
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer-img {
  height: 70px;
  width: 70px;
  background-image: url("./Mintify-Assets/seal.png");
  background-position: center;
  background-size: cover;
}
